<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Riferr-Profile</title>
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" href="../../public/stylesheets/css/profile-css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../public/stylesheets/css/profile-css/styles.css">
</head>

<body style="font-family: Chewy, cursive;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#" style="font-family: Chewy, cursive;font-size: 32px;">Riferr</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;">USER_NAME</a></span><span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;">Settings</a></span><span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;">Log-out</a></span></div>
        </div>
    </nav>
    <script src="../../public/stylesheets/js/jquery.min.js"></script>
    <script src="../../public/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>