<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Riferr-Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" href="../../public/fonts/profile-fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/fonts/profile-fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/image-card-materialize-1.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/image-card-materialize.css">
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/Navigation-Profile.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/styles.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/Profile-Card.css">
    <link rel="stylesheet" href="../../public/stylesheets/profile-css/Social-Icons.css">
</head>

<body style="font-family: Chewy, cursive;">

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#" style="font-family: Chewy, cursive;font-size: 32px;">Riferr</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;font-family: Acme, sans-serif;">Kholil Manab</a></span><span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;font-family: Acme, sans-serif;">Settings</a></span>
                <span class="navbar-text actions"> <a class="login" href="#" style="font-size: 18px;font-family: Acme, sans-serif;">Log-out</a></span>
            </div>
        </div>
    </nav>

    <div class="profile-card">
        <div class="profile-back" style="background-color: #ff5331;"></div><img class="rounded-circle profile-pic" src="../../public/images/kholel.jpg">
        <h3 class="profile-name" style="background-color: #ff5331;font-size: 20px;font-family: Acme, sans-serif;">Kholil Rachman Nur Manab</h3>
        <p class="profile-bio" style="font-size: 20px;font-family: Acme, sans-serif;margin-bottom: 30px;">Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
    </div>

    <div class="row" style="font-family: Actor, sans-serif;">
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card"><a href="#"><img class="card-img-top" style="height:200px;" src="../../public/images/kholel 2.png"></a>
                <div class="card-body">
                    <h5 style="font-family: Acme, sans-serif;">Item 1</h5>
                    <p>Deskripsi</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Lihat<br></a></small></div>
            </div>
        </div>
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card"><a href="#"><img class="card-img-top" style="height:200px;" src="../../public/images/kholel 2.png"></a>
                <div class="card-body">
                    <h5>Item 2</h5>
                    <p>Deskripsi</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Lihat<br></a></small></div>
            </div>
        </div>
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card"><a href="#"><img class="card-img-top" style="height:200px;" src="../../public/images/kholel 2.png"></a>
                <div class="card-body">
                    <h5>Item 3</h5>
                    <p>Deskripsi</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Lihat<br></a></small></div>
            </div>
        </div>
    </div>

    <div class="social-icons" style="background-color: #FFFFFF;margin-bottom: 15px;">
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <a href="#"></a><a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
    
    <footer id="footer">    
        <div style= "background: black; text-align: center; margin: 0px; padding:10px">
            <p style= "color:grey; font-family: Acme; font-size: 18px;">Copyright (c) 2019 Riferr</p>
        </div>
    </footer>

    <script src="../../public/javascripts/jquery.min.js"></script>
    <script src="../../public/javascripts/image-card-materialize.js"></script>
    <script src="../../public/javascripts/bootstrap.min.js"></script>
</body>

</html>