<title>Riferr | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/bootstrap/4.0.0/boostrap.min.css">
<link rel="stylesheet" href="/stylesheets/homepage/style.css">
<link rel="stylesheet" href="fonts/chewy.css">
<link rel="stylesheet" href="fonts/Acme.css">
<script src="/javascripts/jquery/2.1.1/jquery.min.js"></script>