<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="W | K - Project Sangar" />
	<title>Register Form</title>

	<link href="/stylesheets/auth/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="shortcut icon" href="#" />
</head>

<body>
	<div id="particles-js">
		<div class="container">
			<div class="logo" style="background-image: url('/images/Admin.png');"></div>
			<div class="auth">
				<input id="get_role" type="text" value="<%= role %>" hidden>
				<% if (role == 1) { %>
				<h1>Seller Registration Form</h1>
				<% } else if (role == 2) { %>
				<h1>Buyer Registration Form</h1>
				<% } %>

				<form class="form auth"><br>
					<p class="field">
						<input type="text" placeholder="Nama" id="name-input" required />
						<i class="fa fa-user"></i>
					</p>
					<p class="field">
						<input type="text" placeholder="Email" id="email-input" required />
						<i class="fa fa-envelope"></i>
					</p>
					<p class="field">
						<input type="text" placeholder="No Hp" id="phone-input" required />
						<i class="fa fa-mobile-phone" style="size: 152px;"></i>
					</p>
					<p class="field">
						<input type="text" placeholder="Alamat" id="address-input" required />
						<i class="fa fa-location-arrow"></i>
					</p>
					<p class="field">
						<input type="password" placeholder="Password" id="password-input" required />
						<i class="fa fa-lock"></i>
					</p>
					<p class="submit"><input type="submit" name="commit" value="Register"></p>
				</form>
				<p class="forgot">
					<a href="#">Forgot Password?</a>
				</p>
				<br>
			</div>

			<div class="copyright">
				<p>
					Copyright &copy;
					<script type="text/javascript">
						document.write(new Date().getFullYear());
					</script>
					<a style="color: gold" href="" target="_blank"> Riferr </a>
				</p>
			</div>
		</div>
	</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/auth/signup-page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/javascripts/auth/app.js"></script>

</html>