<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="W | K - Project Sangar" />
	<title>Login Form</title>

	<link href="/css/auth/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="shortcut icon" href="#" />
</head>

<body id="particles-js">
	<div class="container">
		<div class="logo" style="background-image: url('https://user-images.githubusercontent.com/30113370/147396373-53c9becb-9235-49ab-89f2-bb42388952fc.png');"></div>
		<!-- Login -->
		<div class="auth">
			<h1>Welcome</h1>
			<form class="form auth" method="post"><br>
				<p class="field">
					<input type="text" name="u_adm" placeholder="Email" id="email-input" required />
					<i class="fa fa-user"></i>
				</p>
				<p class="field">
					<input type="password" name="p_adm" placeholder="Password" id="password-input" required />
					<i class="fa fa-lock"></i>
				</p>
				<p class="submit"><input type="submit" name="commit" value="Login"></p>
			</form>
			<p class="forgot">
				<a href="#">Forgot Password?</a>
			</p>
			<br>
		</div>
		<div class="copyright">
			<p>
				Copyright &copy; 2019,
				<a style="color: gold" href="/"> Riferr</a>
			</p>
		</div>
	</div>
</body>

<!-- scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/js/auth/app.js"></script>
<script src="/js/auth/login-page.js"></script>

</html>