<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="author" content="W | K - Project Sangar" />
  <title>Login Form</title>

  <link href="./stylesheets/login_style.css" rel="stylesheet" type="text/css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="shortcut icon" href="#"/>

</head>
<body>

<div id="particles-js">

<div class="container">
  <div class="logo" style="background-image: url('./images/Admin.png');"></div>
  
<!-- Login -->
  <div class="login"> 
    <h1>Welcome</h1>

    <form class="form" method="post" action="/belajar_laravel/adm_Dashboard"><br>
      <p class="field">
        <input type="text" name="u_adm" placeholder="Username or email" required/>
        <i class="fa fa-user"></i>
      </p>

      <p class="field">
        <input type="password" name="p_adm" placeholder="Password" required/>
        <i class="fa fa-lock"></i>
      </p>

      <p class="submit"><input type="submit" name="commit" value="Login"></p>

      <p class="forgot">
        <a href="#">Forgot Password?</a>
      </p>

    </form>
  </div>

  <div class="copyright">
            <p>
            Copyright &copy;       
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>, 
            <a style="color: gold" href="" target="_blank"> Riferr </a>
            </p>
        </div>
</div> 
<!--/ Login-->
    
</div>
<!-- scripts -->
<script src="./javascripts/particles.js"></script>
<script src="./javascripts/app.js"></script>


</body>

</html>