<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>

    <div class="container-fluid p-0 m-0">
        <div class="Hero-Header">
            <div class="pink-background"></div>
            <img class="imagekelas" src="https://i.pinimg.com/originals/06/22/e2/0622e26f67b81f6685979918e054f70c.png">


            <div class="text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <picture>
                            <source media="(max-width: 899px)" srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook.fcdc1a8.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook2x.c4ddd22.png 2x">
                            <source media="(min-width: 900px)" srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook.288e99d.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook2x.21acb8c.png 2x">
                            <img src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook.288e99d.png" alt="facebook">
                        </picture>
                    </li>
                    <li class="list-inline-item">
                        <picture>
                            <source media="(max-width: 899px)" srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/google.f744f90.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/google2x.b15591d.png 2x">
                            <source media="(min-width: 900px)" srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/google.72ca7d8.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/google2x.b6f3111.png 2x">
                            <img src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/google.72ca7d8.png" alt="Google">
                            <picture>
                    </li>
                    <li class="list-inline-item">
                        <picture>
                            <source media="(max-width: 899px)"
                                srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/paypal.e0354bb.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/paypal2x.da129db.png 2x">
                            <source media="(min-width: 900px)"
                                srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/paypal.931c1ac.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/paypal2x.bdd0eb9.png 2x">
                            <img src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/paypal.931c1ac.png"
                                alt="PayPal"></picture>
                    </li>
                    <li class="list-inline-item">
                        <picture>
                            <source media="(max-width: 899px)"
                                srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/pandg.87e9446.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/pandg2x.259884d.png 2x">
                            <source media="(min-width: 900px)"
                                srcset="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/pandg.181a467.png 1x, https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/pandg2x.6dc32e4.png 2x">
                            <img src="https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/pandg.181a467.png"
                                alt="P&amp;G"></picture>
                    </li>
                </ul>
            </div>
        </div>

        <div class="second-section">
            <div class="popular">
                <h3><STRONG>Find Your Design Here</STRONG></h3>

                <div class="row">

                    <div class="col-sm-3" onclick="location.href='/products/1';">
                        <div class="card bg-black text-white">
                            <img
                                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Brand Logo</h5>
                                <p class="card-text">Find your Brand Logo design here</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" onclick="location.href='products/2';">
                        <div class="card bg-black text-white">
                            <img
                                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Brand Logo</h5>
                                <p class="card-text">Find your Brand Logo design here</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" onclick="location.href='products/3';">
                        <div class="card bg-black text-white">
                            <img
                                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Brand Logo</h5>
                                <p class="card-text">Find your Brand Logo design here</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" onclick="location.href='products/4';">
                        <div class="card bg-black text-white">
                            <img
                                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Brand Logo</h5>
                                <p class="card-text">Find your Brand Logo design here</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="self-branding Hero-Header">
                <div class="row">
                    <div class="col-md-6">
                        <H4><STRONG>Make Your Live Easier With Riffer</STRONG></H4>
                        <ul>
                            <li>
                                <H5><STRONG>Know the Price Upfront</STRONG></H5>
                                <p>Find any service within minutes and know exacly what you'l pay! just a fixed price!
                                </p>
                            </li>
                            <li>
                                <H5><STRONG>We're 24/7 for you :)</STRONG></H5>
                                <p>Riffer is here for you, anything from doing your job until give you a job.</p>
                            </li>
                            <li>
                                <H5><STRONG>We Provide What You Need</STRONG></H5>
                                </H5>
                                <p>We will serve you even if your request is strange</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="http://blog.fiverr.com/wp-content/uploads/vision-mission.png">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="getting-started col-md-12">
                    <h5><STRONG>Find Freelance Services For Your Business</STRONG></h5>
                    <p>Riffer make your money flowing like water on the river</p><br>
                    <a href="/signup/1" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid p-0 m-0">
        <% include ../partials/footer %>
    </div>

</body>
<% include ../partials/script %>

</html>