<h3>Payment Detail</h3>
<div>
	<label>Buyer's Id</label><br>
	<input type="text" name="buyerid">
</div>
<div>
	<label>Buyer's Name</label><br>
	<input type="text" name="buyername">
</div>
<div>
	<label>Buyer's Phone</label><br>
	<input type="text" name="buyerphone">
</div>
<div>
	<label>Buyer's Address</label><br>
	<input type="text" name="buyeraddress">
</div>
<div>
	<label>Service Title</label><br>
	<input type="text" name="servicetitle" value="<%= data %>">
</div>
<div>
	<label>Service Description</label><br>
	<input type="text" name="servicedesc">
</div>
<div>
	<label>Seller's Name</label><br>
	<input type="text" name="sellername">
</div>
<div>
	<label>Categori's Name</label><br>
	<input type="text" name="catname">
</div>
<div>
	<label>Service Price</label><br>
	<input type="text" name="serviceprice">
</div>

<div>
	<a class="btn btn-success float-right" href="" role="button">Check Out</a></h9>
</div>