'<div>'+
	'<label>Detail Order</label>'+
	'<br>'+
	'<textarea type="text" cols="40" rows="10"></textarea>'+
'</div>'+
'<div>'+
	'<a class="btn btn-success float-right" href="" role="button">Check Out</a></h9>'+
'</div>'