<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/menu %>
	<div class="container">

		<div class="card-view">
			<div class="row">
				<% include ../partials/card-view %>
			</div>
		</div>
		
	</div>

	
</body>
<% include ../partials/script %>
</html>