<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/menu %>
	<div class="container" style="min-height: 550px;">

		<div class="card-view">
			<div class="row">
				<% include ../partials/card-view %>
			</div>
		</div>
		
	</div>

	<div class="container-fluid m-0 p-0">
		<% include ../partials/footer %>
	</div>
	<!-- <div class="container-fluid p-0 m-0" style="position: absolute; bottom: 0; width: 100%;">
		
	</div> -->
</body>
<% include ../partials/script %>
</html>